.header__logo {
  cursor: pointer;
  display: block;
  width: 142px;
  height: 33px;
  object-fit: contain;
  object-position: top;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
  }
}