.profile__name {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    margin: 0 auto;
    padding-left: 37px;
    max-width: 189px;
  }
}