.profile__info {
  max-width: 50%;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 282px;
    margin: 24px auto 0;
  }
}