.profile {
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 880px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .profile {
    margin: 42px auto 0;
    flex-direction: column;
  }
}
