.profile__bio {
  font-size: 18px;
  line-height: 22px;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 10px 100px 0 0;
}
@media screen and (max-width: 767px) {
  .profile__bio {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
    margin: 10px auto 0;
    text-align: center;
  }
}